<header class="container-xxl">
	<div class="row align-items-center bg-warning">
		<div class="col">
			<p>vous connecter</p>
		</div>
		<div class="col">
			<ul class="row">
				<li class="col">
					<a href="">Accueil</a>
				</li>
				<li class="col">
					<a href="">Blog</a>
				</li>
				<li class="col">
					<a href="">Contact</a>
				</li>
			</ul>
		</div>
	</div>

</header>
