<header class="container-xxl">
	<div class="row align-items-center bg-secondary">
		<div class="col">
			{% if name %}
				<h2>
					{{name.firstname}}
					{{name.lastname}}</h3>
			{% else %}
<<<<<<< Updated upstream
				<a class="btn bg-info" href="">Se connecter</a>
=======
				<a class="btn bg-warning" href="/connection">Se connecter</a>
>>>>>>> Stashed changes
			{% endif %}

		</div>
		<div class="col">
			<ul class="row">
				<li class="col">
<<<<<<< Updated upstream
					<a href="/">Accueil</a>
=======
					<a href="/" class="text-black">Accueil</a>
>>>>>>> Stashed changes
				</li>
				<li class="col">
					<a href="/blog/">Blog</a>
				</li>
				<li class="col">
					<a href="/admin/createpost">createpost</a>
				</li>
				<li class="col">
					<a href="">Contact</a>
				</li>
			</ul>
		</div>
	</div>

</header>
