<!DOCTYPE html>
<html>


	<head>
		<meta charset="utf-8"/>
		<title>{% block title "mon blog"%}</title>
        <base href="http://www.localhost/">
        <link href="main.css" rel="stylesheet">
    </head>

	<body class="bg-secondary">
		{% include "header.html.twig" %}
        <div class="container-lg">
		{% block content %}{% endblock %}
        </div>
	</body>

</html>
