<!DOCTYPE html>
<html>

    
    <head>
        <meta charset="utf-8" />
        <title>{% block title "mon blog"%}</title>
        <link href="./style/main.css" rel="stylesheet" />
    </head>

	<body>
		{% include "header.html.twig" %}
        {% block content %} {% endblock %}
	</body>

</html>

