<nav class="navbar navbar-expand-lg  navbar-dark bg-primary mb-3 ">
	<div class="container-fluid">
		{% if name %}
			<a href="/compte" class="navbar-brand">
				{{name.firstname}}
				{{name.lastname}}</a>
		{% else %}
			<a class="btn bg-secondary mt-2 mb-2 navbar-brand" href="/connecter">Se connecter</a>
		{% endif %}

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="container-lg ">
			<div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
				<div class="text-align-center navbar-nav  mb-2 mb-lg-0 ">
					<a href="/" class="nav-link">Accueil</a>
					<a href="/blog" class="nav-link">Blog</a>
					<a href="/admin/createpost" class="nav-link">createpost</a>
                    <a href="/admin/comment" class="nav-link">Comment moderation</a>
					<a href="/cont" class="nav-link">Contact</a>
				</div>
			</div>
		</div>
	</div>
</nav>
