{% extends "layout.html.twig" %}

{% block content %}
	<div class="postList" data-posts="{{posts|json_encode}}"></div>
	<div class="container-lg">

		<div class="jsContainer text-body"></div>
		<!--<input id="postPerPage" name="post per page" 
        type="range" min="2" max="30" value="5"step="2">-->
		<nav aria-label="Page navigation example"class="fixed-bottom">
			<ul class="pagination justify-content-center my-4 "></ul>
		</nav>
	</div>
	<script src="Javascript/Blog/paginatePosts.js"></script>
{% endblock %}
