{% extends "layout.html.twig"%}
{% block title "accueil" %}
{% block content %}
	<div class="container-lg">
		<h1>vous êtes bien sur la page index</h1>

		<form class="container-fluid" method="post" accept-charset="UTF-8" action="">
			<div class="row">
				<input type="hidden" name="csrfToken" value="{{ csrftoken }}">
				<div class="mb-3 col">
					<label for="" class="form-label">Email</label>
					<input type="email" class="form-control" name="mail" id="mail" aria-describedby="emailHelpId" value="{% if user %} {{user.email}} {% endif %} ">
					<small id="emailHelpId" class="form-text text-muted">votre mail</small>
				</div>

				<div class="mb-3 col">
					<label for="" class="form-label">Name</label>
					<input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" value="{% if user %}{{ user.firstname}} {{ user.lastname }}{% endif %}">
					<small id="helpId" class="form-text text-muted">Help text</small>
				</div>
			</div>
			<div class=" row">
				<div class="mb-3 col">
					<label for="" class="form-label"></label>
					<textarea class="form-control" name="message" id="message" rows="3"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<input type="submit" value="envoyer mail">
				</div>
			</div>
		</form>
	</div>

{% endblock %}
