{% extends 'layout.html.twig'  %}
{% block title "register" %}

{% block content %}


	<div class="container-lg border border-white rounded">
    <div>
    
    </div>
		<h2 class="text-lg-center mt-3">Inscrivez vous ici:</h2>
		<form action="" method="post" class="form-post mt-3 ms-2 me-2 ms-lg-3 me-lg-3" name="registerForm" onsubmit="return validateFormRegister()">
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}">
            
            <div class="form-post row mb-3 mt-3 ">
				<label class="form-label col-lg-3" for="login">Entrer votre login:</label>
				<input class="form-control col-lg" type="text" name="login" id="login" required>
                <div id ="loginmessage"></div>
            </div>
			<div class="form-post row mb-3">
				<label for="password" class="form-label col-lg-3">Entrez votre mot de passe</label>
				<input class="form-control col-lg" type="password" name="password" id="password" required>
				<div id="passwordmessage"></div>
			</div>
			<div class="form-post row mb-3">
				<label for="passwordverify" class="form-label col-lg-3">Confirmez votre mot de passe</label>
				<input class="form-control col-lg" type="password" name="passwordverify" id="passwordverify" required>
                <div id="passwordmatchmessage"></div>
			</div>
			<div class="form-post row mb-3">
				<label for="mail" class="form-label col-lg-3">Entrez votre email</label>
				<input class="form-control col-lg" type="mail" name="mail" id="mail" required>
			</div>
			<div class="form-post row mb-3">
				<label for="firstname" class="form-label col-lg-3">Entrez votre prénom</label>
				<input class="form-control col-lg" type="text" name="firstname" id="firstname">
			</div>
			<div class="form-post row mb-3">
				<label for="lastname" class="form-label col-lg-3">Entrez votre Nom</label>
				<input class="form-control col-lg" type="text" name="lastname" id="lastname">
			</div>
			<div class="form-input mb-3 d-flex justify-content-center">
				<button class="btn btn-primary">s'enregistrer</button>
			</div>
		</form>
	</div>
	<script src="./Javascript/Form/validateFormRegister.js">

	</script>

{% endblock %}
