.icon-listing{
    .icons{
        width: fit-content;
        margin:1rem;
    }
    display: grid;
    grid-template-columns: 1fr,1fr,1fr;
    img{
        max-width: 3rem;
        margin: auto;
        display: block;
    }
}